/*
 * Light Green: #7ed56f
 * Medium Green: #55c57a;
 * Dark Green: #24b485
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;   /* 1rem = 10px */
}

body {
  font-family: Lato;
  font-weight: 400;
  color: #777;
  line-height: 1.5;
}

header {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(36, 180, 132, 0.8)),
                    url('../img/hero-small.jpg');
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

header .header__logo-box img.logo {
  height: 4.5rem;
}

header .header__content-box {
  transform: translateY(-10rem);
}

header .header__content-box h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3.5rem;
  font-size: 6rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}

header .header__content-box p {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2rem;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 6rem;
}

.section-about {
  margin-top: -20vh;
  padding: 25rem 0 30rem;
  background-color: #f7f7f7;
}

.section-about .about__content-box {
  margin-bottom: 3rem;
  padding-right: 5rem;
}

.section-about .about__content-box p {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  line-height: 1.8;
}

.section-about .about__image-box {
  position: relative;
  height: 100%;
  width: 100%;
}

.section-about .about__img {
  position: absolute;
  width: 50%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  outline-offset: 2rem;
  transition: 0.25s;
}

.section-about .about__img:hover {
  outline: 1.2rem solid #55c57a;
  transform: scale(1.05) translateY(-5px);
  z-index: 5 !important;
}

.section-about .about__img.img--1 {
  top: 2rem;
  left: 5%;
  z-index: 1;
}

.section-about .about__img.img--2 {
  top: 6rem;
  right: 5%;
  z-index: 2;
}

.section-about .about__img.img--3 {
  top: 10rem;
  left: 25%;
  z-index: 3;
}

.section-features {
  padding: 20rem 0;
  width: 100%;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(36, 180, 132, 0.8)),
                    url('../img/nat-4.jpg');
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
}

.section-features .container {
  transform: skewY(7deg);
}

.section-features .row {
  justify-content: space-between;
}

.section-features .row .col {
  max-width: 25rem;
}

.section-features .feature-box {
  padding: 4rem 1.5rem 2.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  transition: 0.25s;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.section-features .feature-box:hover {
  transform: translateY(-2rem) scale(1.02);
}

.section-features .feature-box .feature__logo {
  font-size: 6rem;
  display: inline-block;
  color: transparent;
  background: linear-gradient(to right, #7ed56f, #24b485);
  -webkit-background-clip: text;
  margin-bottom: 3rem;
}

.section-features .feature-box .feature__content h4 { 
  margin-bottom: 2rem;
}

.section-features .feature-box .feature__content p { 
  font-size: 1.6rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}

.section-tours {
  margin-top: -10vh;
  padding: 25rem 0 15rem;
  background-color: #f7f7f7;
}

.section-tours .heading--primary {
  margin-bottom: 8rem;
  text-align: center;
}

.section-tours .row .col {
  max-width: 30%;
}

.section-tours .tour__card {
  position: relative;
  perspective: 1500px;
  text-align: center;
  height: 50rem;
}

.tour__card .tour__card__front,
.tour__card .tour__card__back {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  transition: 1s;
  backface-visibility: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.tour__card:hover .tour__card__front {
  transform: rotateY(180deg);
}

.tour__card:hover .tour__card__back {
  transform: rotateY(0deg);
}

.tour__card .tour__card__front {
  background-color: #fff;
}

.tour__card .tour__card__back {
  transform: rotateY(-180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tour__card .tour__card__bg {
  height: 24rem;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tour__card.tour--1 .tour__card__bg {
  background: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
  background-size: cover;
}

.tour__card.tour--2 .tour__card__bg {
  background: linear-gradient(to right bottom, #7ed56f, #55c57a), url(../img/nat-6.jpg);
  background-size: cover;
}

.tour__card.tour--3 .tour__card__bg {
  background: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
  background-size: cover;
}

.tour__card .tour__card__head {
  position: absolute;
  top: 15rem;
  right: 2.5rem;
  max-width: 70%;
  font-size: 2.8rem;
  font-weight: 300;
  text-align: right;
  color: #fff;
  text-transform: uppercase;
}

.tour__card .tour__card__head h4 {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  font-weight: 300;
  display: inline;
}

.tour__card.tour--1 .tour__card__head h4 {
  background: linear-gradient(to bottom right, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
}

.tour__card.tour--2 .tour__card__head h4 {
  background: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(85, 197, 122, 0.8));
}

.tour__card.tour--3 .tour__card__head h4 {
  background: linear-gradient(to bottom right, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
}

.tour__card .tour__card__content {
  margin-top: 1rem;
  width: 80%;
  padding: 2rem 3rem;
  font-size: 1.4rem;
  display: inline-block;
}

.tour__card .tour__card__content li {
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  list-style: none;
}

.tour__card .tour__card__content li:last-child {
  border-bottom: none;
}

.tour__card.tour--1 .tour__card__back {
  background: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.tour__card.tour--2 .tour__card__back {
  background: linear-gradient(to right bottom, #7ed56f, #55c57a);
}

.tour__card.tour--3 .tour__card__back {
  background: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.tour__card .tour__card__back h3 {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #fff;
}

.tour__card .tour__card__back p {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 200;
  color: #fff;
  margin-bottom: 8rem;
}

.section-stories {
  padding: 15rem 0;
  background-color: rgba(255, 255, 255, 0.85);
  position: relative;
}

.section-stories .video__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.section-stories .video__bg video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section-stories .story-box {
  width: 75%;
  margin: 0 auto 6rem;
  transform: skewX(-13deg);
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.story-box .story__content {
  padding: 4rem 6rem;
  transform: skewX(13deg);
}

.story-box .story__content .story__content__img {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin-right: 2.5rem;
  shape-outside: circle(50%);
  position: relative;
}

.story-box .story__content .story__content__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
  transform: scale(1.4);
}

.story-box .story__content .story__content__img figcaption {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 1px;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
  transform: translate(-50%, 100%);
}

.story-box:hover .story__content .story__content__img img {
  transform: scale(1);
  filter: blur(2px) brightness(80%);
}

.story-box:hover .story__content .story__content__img figcaption {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.story-box .story__content .story__content__text p {
  font-size: 1.6rem;
  margin-top: 1.5rem;
}

section.section-form {
  padding: 15rem 0;
  background: linear-gradient(to bottom right, #7ed56f, #24b485);
}

.section-form .book {
  min-height: 40rem;
  width: 100%;
  background: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%,
                                      rgba(255, 255, 255, 0.8) 50%,
                                      transparent 50%),
              url('../img/nat-10.jpg');
}

.section-form .book .book__form {
  width: 50%;
  padding: 5rem;
}



/* Button CSS */
.button {
  cursor: pointer;
  display: inline-block;
  min-width: 10rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  border-radius: 7.5rem;
  font-size: 1.6rem;
  transition: 0.3s;
  position: relative;
}

.button:before {
  content: '';
  position: absolute;
  border-radius: 7.5rem;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}

.button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button:hover:before {
  transform: scaleX(1.2) scaleY(1.5);
  opacity: 0;
}

.button.button--white,
.button.button--white:before {
  color: #777;
  background-color: #fff;
}

.button.button--green,
.button.button--green:before {
  color: #fff;
  background-color: #55c57a;
}


/* Common Typograpy CSS */
.heading--primary {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(to right, #7ed56f, #24b485);
  font-weight: 700;
  letter-spacing: 0.25rem;
  transition: 0.25s;
  line-height: 1.5;
  -webkit-background-clip: text;
}

.heading--primary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.heading--secondary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* Grid CSS */
.container {
  max-width: 114rem;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  position: relative;
  width: 100%;
  min-height: 1px;
}

@media (min-width: 768px) {
  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

/* Link CSS */
a.link {
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  color: #55c57a;
  border-bottom: 1px solid #55c57a;
  padding: 4px;
  transition: 0.25s;
}

a.link:hover {
  background-color: #55c57a;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Form CSS */
.field {
  margin-bottom: 2rem;
}

.input {
  background-color: #fff;
  border: none;
  outline: none;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  color: #333;
  border-radius: 3px;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
  display: block;
  width: 90%;
}

.input::placeholder {
  color: #ccc;
}

.input::-webkit-input-placeholder {
  color: #ccc;
}

.input::-ms-input-placeholder {
  color: #ccc;
}

.input:focus {
  border-bottom: 3px solid #55c57a;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.input__label {
  display: block;
  margin: 0.8rem 2rem;
  font-weight: 700;
  visibility: visible;
  font-size: 1.3rem;
  opacity: 1;
  transition: 0.3s;
}

.input:placeholder-shown + .input__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

/* utilities CSS */
.u-text-center {
  text-align: center !important;
}

.u-text-left {
  text-align: left !important;
}

.u-text-right {
  text-align: right !important;
}

.u-text-justify {
  text-align: justify !important;
}


.u-mt-1 {
  margin-top: 0.5rem !important;
}

.u-mt-2 {
  margin-top: 1rem !important;
}

.u-mt-3 {
  margin-top: 1.5rem !important;
}

.u-mt-4 {
  margin-top: 2rem !important;
}

.u-mt-5 {
  margin-top: 2.5rem !important;
}

.u-mt-6 {
  margin-top: 3rem !important;
}

.u-mt-7 {
  margin-top: 3.5rem !important;
}

.u-mt-8 {
  margin-top: 4rem !important;
}

.u-mt-auto {
  margin-top: auto !important;
}

.u-mb-1 {
  margin-bottom: 0.5rem !important;
}

.u-mb-2 {
  margin-bottom: 1rem !important;
}

.u-mb-3 {
  margin-bottom: 1.5rem !important;
}

.u-mb-4 {
  margin-bottom: 2rem !important;
}

.u-mb-5 {
  margin-bottom: 2.5rem !important;
}

.u-mb-6 {
  margin-bottom: 3rem !important;
}

.u-mb-7 {
  margin-bottom: 3.5rem !important;
}

.u-mb-8 {
  margin-bottom: 4rem !important;
}

.u-mb-auto {
  margin-bottom: auto !important;
}

.u-ml-1 {
  margin-left: 0.5rem !important;
}

.u-ml-2 {
  margin-left: 1rem !important;
}

.u-ml-3 {
  margin-left: 1.5rem !important;
}

.u-ml-4 {
  margin-left: 2rem !important;
}

.u-ml-auto {
  margin-left: auto !important;
}

.u-mr-1 {
  margin-right: 0.5rem !important;
}

.u-mr-2 {
  margin-right: 1rem !important;
}

.u-mr-3 {
  margin-right: 1.5rem !important;
}

.u-mr-4 {
  margin-right: 2rem !important;
}

.u-mr-auto {
  margin-right: auto !important;
}

.u-pt-1 {
  padding-top: 0.5rem !important;
}

.u-pt-2 {
  padding-top: 1rem !important;
}

.u-pt-3 {
  padding-top: 1.5rem !important;
}

.u-pt-4 {
  padding-top: 2rem !important;
}

.u-pt-5 {
  padding-top: 2.5rem !important;
}

.u-pt-6 {
  padding-top: 3rem !important;
}

.u-pt-7 {
  padding-top: 3.5rem !important;
}

.u-pt-8 {
  padding-top: 4rem !important;
}

.u-pb-1 {
  padding-bottom: 0.5rem !important;
}

.u-pb-2 {
  padding-bottom: 1rem !important;
}

.u-pb-3 {
  padding-bottom: 1.5rem !important;
}

.u-pb-4 {
  padding-bottom: 2rem !important;
}

.u-pb-5 {
  padding-bottom: 2.5rem !important;
}

.u-pb-6 {
  padding-bottom: 3rem !important;
}

.u-pb-7 {
  padding-bottom: 3.5rem !important;
}

.u-pb-8 {
  padding-bottom: 4rem !important;
}

.u-pl-1 {
  padding-left: 0.5rem !important;
}

.u-pl-2 {
  padding-left: 1rem !important;
}

.u-pl-3 {
  padding-left: 1.5rem !important;
}

.u-pl-4 {
  padding-left: 2rem !important;
}

.u-pr-1 {
  padding-right: 0.5rem !important;
}

.u-pr-2 {
  padding-right: 1rem !important;
}

.u-pr-3 {
  padding-right: 1.5rem !important;
}

.u-pr-4 {
  padding-right: 2rem !important;
}

.justify-content-between {
  justify-content: space-between !important;
}
